
.statistics{
    width: 200px;
    padding: 10px;
    background-color: rgb(98, 236, 167);
    text-align: center;
}

.statlist{
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 10px 0;
}
.item{
    width: 70px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.percentage{
    color: white;
    text-shadow: 1px 1px 2px rgb(106, 106, 106), -1px -1px 2px rgb(106, 106, 106);
 text-align: center;
}

.label{
display: block;
color: white;
  display: block;
  text-shadow: 1px 1px 2px rgb(106, 106, 106), -1px -1px 2px rgb(106, 106, 106);
}